@using OID.Web.Models.Object
@model OID.Web.Models.Object.ObjectModifyViewModel

<form method="post" >
    @Html.Partial("Partials/ObjectModify", Model)
    <button type="submit" class="btn-success btn">Создать</button>
</form>
