<div class="modal fade" id="confirmAlert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Удаление объекта</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить объект?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                <button type="button" id="btnConfirm" class="btn btn-primary" data-dismiss="modal">Да</button>
            </div>
        </div>
    </div>
</div>