@model OID.Web.Models.User.ManageUserViewModel

<form asp-controller="User" asp-action="Manage" method="post" class="form-horizontal">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">
                <label asp-for="PhoneMobile" class="col-md-3 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="PhoneMobile.Phone" class="form-control" />
                </div>
                <label asp-for="PhoneMobile.Comment" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="PhoneMobile.Comment" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">
                <label asp-for="PhoneWork" class="col-md-3 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="PhoneWork.Phone" class="form-control" />
                </div>
                <label asp-for="PhoneWork.Comment" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="PhoneWork.Comment" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">
                <label asp-for="PhoneHome" class="col-md-3 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="PhoneHome.Phone" class="form-control" />
                </div>
                <label asp-for="PhoneHome.Comment" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="PhoneHome.Comment" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">
                <label asp-for="PhoneAdditional" class="col-md-3 control-label"></label>
                <div class="col-md-3">
                    <input asp-for="PhoneAdditional.Phone" class="form-control" />
                </div>
                <label asp-for="PhoneAdditional.Comment" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="PhoneAdditional.Comment" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Address", Model.AddressModel)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </div>
</form>